mixin about()
    .about
        .about__title Авторская кондитерская Елены Чечендаевой. Готовим стильные, натуральные торты и кендибары на ваши праздники.
        .about__text
            p CheBakery - кондитерская нового поколения. Мы не идем на поводу у устоев рынка, а несем в Харьков мировые кондитерские тенденции со всех уголков планеты. 
            p Используем только лучшие продукты. То, чем не страшно кормить своих детей. 
            p И еще одно. CheBakery - это наша страсть. Мы строим нашу кондитерскую такой, какой хотели бы видеть весь малый бизнес: честной, клиентоориентированной. Стабильно-высокий уровень качества и ваше удовольствие для нас важнее прибыли. 