.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    border-radius: 4px;
    padding: 0 40px;
    .rem(18);
    font-weight: 500;
    line-height: 100%;
    color: @wt;
    transition: all 0.3s;
    max-width: 375px;
    background-color: @button;
    cursor: pointer;
    box-shadow: @box_button;

    &:hover,&:focus{
                background: @fu;
                box-shadow: @box;
                transition: all 0.3s;
            }
    // &_red{
    //     background: @button_c;
    //     box-shadow: @button;
    //     &:hover,&:focus{
    //         background: @button_hover;
    //         box-shadow: @button_h;
    //         transition: all 0.3s;
    //     }
    //     &:active{
    //         background: @button_active;
    //         box-shadow: @button_a;
    //         transition: all 0.3s;
    //     }
    // }

    // &_grey{
    //     width: 160px;
    //     background-color: @button_3;
    //     color: @grey;
    //     padding: 0;
    //     .rem(12);
    //     margin-right: 10px;

    //     @media @320{
    //         width: calc(50% - 5px);
    //         margin-right: 0;
    //     }
    //     &:hover,&:focus{
    //         background: @button_3_hover;
    //         box-shadow: unset;
    //         transition: all 0.3s;
    //     }
    //     &:active{
    //         background: @button_3_active;
    //         box-shadow: unset;
    //         transition: all 0.3s;
    //     }
    // }
    // &_transparent{
    //     background-color: transparent;
    //     border: 2px solid @red;
    //     .rem(12);

    //     @media @320{
    //         width: calc(50% - 5px);
    //     }
    //     &:hover,&:focus{
    //         background: @button_2_hover;
    //         box-shadow: unset;
    //         transition: all 0.3s;
    //         border: none;
    //         border: 2px solid @button_2_hover;
    //     }
    //     &:active{
    //         background: @button_2_active;
    //         box-shadow: unset;
    //         transition: all 0.3s;
    //         border: none;
    //         border: 2px solid @button_2_active;
    //     }
    // }

    // &_blue{
    //     background-color: transparent;
    //     border: 2px solid @bl;
    //     color: @bl;
    //     display: inline-flex;
    //     height: 44px;
    //     transition: all 0.3s;
    //     cursor: pointer;

    //     &:hover,&:focus{
    //         background: @bl;
    //         color: @wt;
    //         transition: all 0.3s;
    //     }
    //     &:active{
    //         background-color: @button_1_active;
    //         border: 2px solid @button_1_active;
    //         color: @wt;
    //         transition: all 0.3s;
    //     }
    //     @media @320{
    //         padding: 0 20px;
    //     }

    // }



    // &_submit{
    //     width: 100%;
    // }
    // &_center{
    //     margin: 0 auto;
    //     @media @320{
    //         width: 100%;
    //     }
    // }
    
    


}