.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    border-radius: 4px;
    padding: 0 40px;
    .rem(18);
    font-weight: 500;
    line-height: 100%;
    color: @wt;
    transition: all 0.3s;
    max-width: 375px;
    background-color: @button;
    cursor: pointer;
    box-shadow: @box_button;

    &:hover,&:focus{
                background: @fu;
                box-shadow: @box;
                transition: all 0.3s;
            }
    

    &_hidden{
        display: none;
        margin: 0 auto;
        position: absolute;
        z-index: 10;
        bottom: 65px;
        height: 50px;
        left: 43px;
        z-index: 100;
    }
    &_visible{
        display: flex;
    }


    &_taste{
        width: 206px;
    }
}