mixin social()
    .social
        a(href="/").social__item.social__item_instagram.lazy(data-src="/assets/img/instagram.png")
        a(href="/").social__item.social__item_vk.lazy(data-src="/assets/img/vk.png")