mixin tab(cl,id,button)
    .tab(class= cl id= id)
        +preview('/assets/img/cake_1.png','group_1')
        +preview('/assets/img/cake_2.png','group_1')
        +preview('/assets/img/cake_3.png','group_1')
        +preview('/assets/img/cake_4.png','group_1')
        +preview('/assets/img/cake_1.png','group_1')
        +preview('/assets/img/cake_2.png','group_1')
        +preview('/assets/img/cake_3.png','group_1')
        +preview('/assets/img/cake_4.png','group_1')
       
        .tab__buttons
            a(href="/").tab__button= button
