mixin tab(cl,id,button)
    .tab(class= cl id= id)
        +preview('/assets/img/cake_1.jpg','group_1')
        +preview('/assets/img/cake_2.jpg','group_1')
        +preview('/assets/img/cake_3.jpg','group_1')
        +preview('/assets/img/cake_4.jpg','group_1')
        +preview('/assets/img/cake_1.jpg','group_1')
        +preview('/assets/img/cake_2.jpg','group_1')
        +preview('/assets/img/cake_3.jpg','group_1')
        +preview('/assets/img/cake_4.jpg','group_1')
        +preview('','','','preview_hidden')
        +preview('','','','preview_hidden')
        +preview('','','','preview_hidden')
       
        .tab__buttons
            a(href="/").tab__button= button
