.step {
    height: 100px;
    display: flex;
    position: relative;

    @media @1024 {
        height: 111px;
    }

    @media @768 {
        height: 145px;
    }

    &:not(:last-child){
        @media @320 {
        height: 145px;
    }
    }
    


    &__wrapper {
        width: 55%;
        padding: 50px 0 0 0;

        @media @320 {
            width: 100%;
            padding: 20px 0 0 0;
        }
    }

    &__result {
        width: 45%;
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: contain;
        position: relative;

        @media @320 {
            display: none !important;
        }
    }

    &__arrow {
        width: 148px;
        height: 213px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        position: absolute;
        right: 0;
        top: 30%;
    }

    &__image {
        height: 100%;
        width: 80px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        padding: 0 0 20px 0;
    }

    &__content {
        padding: 0 0 0 20px;
        height: 80px;
        display: flex;
        align-items: center;
        max-width: 400px;
    }

    &__text {
        .rem(20);
        color: @bk_2;
        font-weight: normal;

        @media @320 {
            .rem(16);
        }

        span {
            font-weight: 600;
        }
    }

    &__time {
        .rem(25);
        font-weight: normal;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background-color: @bg;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        bottom: 0;

        @media @320 {
            .rem(18);
            right: 15px;
            bottom: 5px;
        }
    }
}