.slider {
    position: relative;

    &__title {
        max-width: 380px;
        width: 100%;
        margin: 0 auto;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: @bk_2;
        font-weight: normal;
        .rem(25);
        background-color: @bg;
        border-radius: 25px;

        @media @320 {
            .rem(18);
            height: 40px;

        }
    }

    &__box {

        padding: 20px 0 40px;

        &_gallery {

            .slick-track {
                display: flex;
                align-items: center;
            }
        }

        &_reviews {

            @media @320{
                padding: 20px 0;
            }
            .slick-track {
                display: flex;
                align-items: center;
            }
        }
    }

    &__arrows {

        display: flex;
        width: 160px;
        position: absolute;
        top: 82%;
        justify-content: space-between;
        height: 0;
        left: 0;

        @media @320 {
            width: 120px;
        }

        &_gallery {
            top: 62%;
            left: 220px;

            @media @320 {
                top: 83%;
                left: 187px;
            }
        }

        &_reviews {
            top: 69%;
            left: unset;
            right: 10%;
            @media @320{
                top: 49%;
                left: unset;
                right: -2%;
            }
        }

    }

    &__arrow {

        display: block;
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 10;
        cursor: pointer;

        @media @320 {
            width: 50px;
            height: 50px;
            background-size: 40px;
        }

        &_next {
            background-image: url(/assets/img/arrow_next.png);

            &:hover {
                background-image: url(/assets/img/arrow_next_active.png);
            }
        }

        &_prev {
            background-image: url(/assets/img/arrow_prev.png);

            &:hover {
                background-image: url(/assets/img/arrow_prev_active.png);
            }
        }
    }
}