mixin slider_4()
    .slider
        .slider__arrows.slider__arrows_gallery
        .slider__box.slider__box_gallery
            +gallery('/assets/img/slide_1.jpg','уникальных тортов.')
            +gallery('/assets/img/slide_1.jpg','Ваш фантастически вкусный торт создается нежными руками професиональных кондитеров - молодых русских девушек, которые сделали уже более 12 000 уникальных тортов.')
            +gallery('/assets/img/slide_1.jpg','Ваш фантастически вкусный торт создается нежными руками професиональных кондитеров - молодых русских девушек, которые сделали уже более 12 000 уникальных тортов.')