mixin slider_3()
    .slider
        .slider__title 3D торты
        .slider__arrows.slider__arrows_3d
        .slider__box.slider__box_3d
            +preview('/assets/img/cake_5.png','group_3','slider')
            +preview('/assets/img/cake_6.png','group_3','slider')
            +preview('/assets/img/cake_7.png','group_3','slider')
            +preview('/assets/img/cake_8.png','group_3','slider')
            +preview('/assets/img/cake_5.png','group_3','slider')
            +preview('/assets/img/cake_6.png','group_3','slider')