mixin slider_2()
    .slider
        .slider__title 3D цифры
        .slider__arrows.slider__arrows_numbers
        .slider__box.slider__box_numbers
            +preview('/assets/img/cake_5.jpg','group_5','slider')
            +preview('/assets/img/cake_6.jpg','group_5','slider')
            +preview('/assets/img/cake_7.jpg','group_5','slider')
            +preview('/assets/img/cake_8.jpg','group_5','slider')
            +preview('/assets/img/cake_5.jpg','group_5','slider')
            +preview('/assets/img/cake_6.jpg','group_5','slider')