@font-face {
    font-family: 'Days';
    src: local('Days'), local('Days-Regular'), url('/assets/fonts/days.eot') format('eot'), url('/assets/fonts/days.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}