extends ../layout/main




block variables
    -var title = 'index'
    -var description = 'index'
    -var pageClass = 'index'

block content
    +nav()
    +ruffles('ruffles_down ruffles_down_rose')
    +section_1()
    +section_2()
    