extends ../layout/main




block variables
    -var title = 'index'
    -var description = 'index'
    -var pageClass = 'index'

block content
    +nav()
    +ruffles('ruffles_down ruffles_down_rose')
    +section_1()
    +section_2()
    +section_3()
    +section_4()
    +section_5()
    +section_6()
    +section_7()
    +section_8()
    +section_9()
    +section_10()
    +section_11()

    +popup_0()
    +popup_1()
    +popup_2()
    +popup_3()
    +popup_thank()