mixin section_2()
    section.section.section_advantages#section_2
        .section__inner.section__inner_advantages
            .section__box.section__box_advantages
                +advantage('/assets/img/advantage_1.png','Богатый выбор вкусов','21 начинка и разнообразие фруктов, ягод, орехов, сиропов и топпингов.')
                +advantage('/assets/img/advantage_2.png','Натуральные и свежие продукты','В наших тортиках нет места стабилизаторам, усилителям вкусов, консервантам и растительным сливкам (пальмовому маслу).')
                +advantage('/assets/img/advantage_3.png','Без предоплаты','Оплата наличными курьеру. Для корпоративных клиентов безналичный расчет.')
                +advantage('/assets/img/advantage_4.png','От маленьких до гигантских тортов','Делаем торты от 2 до 100 кг!')
                +advantage('/assets/img/advantage_5.png','Срочная доставка на следующий день','Круглосуточная доставка по Москве и югу области уже на следующий день в удобное для вас время.')
                +advantage('/assets/img/advantage_6.png','Точная стоимость заказа','Озвучиваем окончательную цену при оформлении заказа. Не берем деньги за срочность, перевес, упаковку.')