mixin section_1()
    section.section.section_banner.lazy(data-src="/assets/img/bg_1.png")
        .section__first.lazy(data-src="/assets/img/first.png")
        .section__inner.section__inner_banner
            +banner()
            
        +ruffles('ruffles_up ruffles_up_rose')