mixin section_3()
    section.section.section_tabs#section_3
        .section__inner.section__inner_tabs
            +title('Примеры','Наших эксклюзивных работ','')
            +tabs()
            
            
            .section__tabs
                +tab('tab_active','nomastic','Каталог тортов без мастики')
                +tab('','velours','Каталог тортов велюк')
                +tab('','baby','Каталог детских тортов')
                +tab('','wedding','Каталог свадебных тортов')
                +tab('','corporate','Каталог корпоративных тортов')
                +tab('','female','Каталог женских тортов')
                +tab('','male','Каталог мужских тортов')
                +tab('','cupcake','Каталог капкейков')
            
            +about()