mixin section_10()
    section.section#section_10.lazy(data-src="/assets/img/bg_default.png")
        .section__inner
            +title('Отзывы','счастливых клиентов')
            +slider_5()
            .section__box.section__box_reviews
                .section__reviews Читайте все 520 отзывов в нашей <a href="/">группе ВК</a>
                +button('Оставить отзыв','button_review','','','#popup_2')