mixin section_5()
    section.section.section_decoration#section_5
        .section__inner.section__inner_decoration
            +title('Оригинальное','Оформление торта')
            +subtitle('станет украшением вашего праздника','')
            +slider_1()
            +slider_2()
            +slider_3()