mixin preview(img,group,slider,cl)
    if slider
        .preview.preview_slide(class= cl)
            a(href= img data-fancybox= group).preview__link
                img.preview__image.preview__image_slide.lazy(data-lazy= img)
            +button('Хочу подобный','button_hidden','','/')
    else
        .preview(class= cl)
            a(href= img data-fancybox= group).preview__link
                img.preview__image.lazy(data-src= img)
            +button('Хочу подобный','button_hidden','','/')