mixin review()
    .review
        .review__inner
            .review__avatar
                img(data-lazy="/assets/img/review_author.png", alt="").review__foto.lazy
            .review__content
                .review__name Лора Павлова
                .review__city г. Москва
                .review__text Большое спасибо за торт! В день рождения сына одноклассники и друзья были поражены тортом в виде фото аплодирующего Роналду! Фото из мастики было великолепным, как и сам торт - классический нежный бисквит! Я в принципе не ем торты и выпечку (мне не вкусно и приторно), с удовольствием попробовала мастику и торт - очень вкусно! И еще, доставка осуществлена не просто вовремя, а по верхней границе ожидания, не пришлось волноваться, было время на подготовку праздника. Спасибо, Мастер!
                a(href="https://vk.com/id35324671").review__link https://vk.com/id35324671
            a(href="/assets/img/review_cake.png" data-fancybox="image").review__object
                img(data-lazy="/assets/img/review_cake.png", alt="").review__image.lazy