mixin banner()
    .banner.lazy(data-src="/assets/img/cord.png")
        .banner__title wingksu cake
        .banner__subtitle от профессиональных кондитеров
        .banner__text Сделаем торт по вашему описанию или понравившейся фотографии
        +button('Получить консультацию')