mixin title(t1,t2,cl)
    if cl
        .title
            .title__text.title__text_left.title__text_small= t1
            .title__text.title__text_left= t2
    else
        .title
            .title__text.title__text_rose= t1
            .title__text.title__text_black= t2