mixin footer()
    footer.footer
        .footer__inner
            .footer__item ЯТорт (c) Все права защищены  
            a(href="/").footer__item Согласие на обработку персональных данных
            a(href="/").footer__item Политика в отношении обработки персональных данных