mixin details()
    .details
        .details__box
            +title('Качество','В мелочах','title_left','title_details')
            a(href="/assets/img/foto_1.jpg" data-fancybox="foto").details__link
                img(data-src="/assets/img/foto_1.jpg", alt="").details__image.lazy
        .details__box
            a(href="/assets/img/foto_2.jpg" data-fancybox="foto").details__link
                img(data-src="/assets/img/foto_2.jpg", alt="").details__image.lazy
        .details__box
            a(href="/assets/img/foto_3.jpg" data-fancybox="foto").details__link
                img(data-src="/assets/img/foto_3.jpg", alt="").details__image.lazy