
include ../blocks/about/about
include ../blocks/advantage/advantage
include ../blocks/banner/banner
include ../blocks/button/button
include ../blocks/contacts/contacts
include ../blocks/component/component
include ../blocks/details/details
include ../blocks/feedback/feedback

include ../blocks/footer/footer
include ../blocks/gallery/gallery
include ../blocks/header/header

include ../blocks/idea/idea
include ../blocks/nav/nav
include ../blocks/order/order
include ../blocks/phone/phone

include ../blocks/popup/popup_0
include ../blocks/popup/popup_1
include ../blocks/popup/popup_2
include ../blocks/popup/popup_thank

include ../blocks/preview/preview
include ../blocks/review/review
include ../blocks/ruffles/ruffles


include ../blocks/section/section_1
include ../blocks/section/section_2
include ../blocks/section/section_3
include ../blocks/section/section_4
include ../blocks/section/section_5
include ../blocks/section/section_6
include ../blocks/section/section_7
include ../blocks/section/section_8
include ../blocks/section/section_9
include ../blocks/section/section_10
include ../blocks/section/section_11

include ../blocks/slider/slider_1
include ../blocks/slider/slider_2
include ../blocks/slider/slider_3
include ../blocks/slider/slider_4
include ../blocks/slider/slider_5

include ../blocks/social/social
include ../blocks/step/step
include ../blocks/subtitle/subtitle
include ../blocks/tab/tab
include ../blocks/tabs/tabs
include ../blocks/taste/taste
include ../blocks/title/title

block variables

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        meta(name="description", content=description)

        include ../includes/styles


    body(class=pageClass)
        +header()
        block content
        +footer()

        include ../includes/scripts