.header {
    width: 100%;
    border-bottom: 2px solid @line;
    background-color: @wt;
    @media @768,@320{
        position: sticky;
        top: 0;
        z-index: 200;
    }

    &__inner {
        width: 100%;
        max-width: 1180px;
        height: 135px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @media @1024{
            padding: 0 20px;
        }
        @media @768{
            padding: 0 20px;
        }
        @media @320{
            padding: 0 10px 0 0;
            height: 70px;
        }

    }

    &__box {
        width: 40%;
        
        height: 100%;
        padding: 30px 0;

        @media @320{
            width: 100%;
            padding: 0;
        }

        &_geo {
            background-repeat: no-repeat;
            background-position: 0 30px;
            background-size: 23px;
            padding-left: 50px;
            display: flex;
            align-items: center;
            .rem(25);
            color: @header;
            font-weight: normal;
            @media @768{
                .rem(18)
            }
            @media @320{
                display: none !important;
            }
        }

        &_phone {
            display: flex;
            justify-content: flex-end;
            @media @768{
                margin-right: 15px;
            }
            @media @320{
                align-items: center;
               justify-content: center;
            }
        }
    }

    

    &__logo {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        flex: 0 0 135px;
        @media @320{
            flex: 0 0 70px;
        }
    }

    &__call{
        height: 74px;
        border: 2px dashed @bg;
        border-radius: 36px;
        box-shadow: @box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 275px;
        padding: 0 25px;
        margin-left: -15px;

        @media @320{
           height: 74%;
           margin: 0 10px 0 0;
           padding: 0 16px;
        }
       
    }
    &__callback{
        .rem(16);
        color: @header;
        font-weight: normal;
        text-decoration: underline;
        @media @1024{
            .rem(14);
        }
      @media @320{
          .rem(12);
      }

        &:hover,&:focus,&:active{
            color: @fu;
        }
    }
    &__text{
        color: @header;
        .rem(30);
        font-family: @fa;
        position: relative;
        width: 181px;
        padding-right: 55px;

        display: flex;
        align-items: center;

        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: 55px;

        @media @768,@320{
            display: none !important;
            
        }
        span{
            font-family: @fa;
            position: absolute;
            right: 55px;
            bottom: -10px;

        }
    }

}