mixin nav()
    nav.nav
        .nav__inner
            a(href="#section_2").nav__item.nav__item_active Дегустация
            a(href="#section_3").nav__item Примеры работ
            a(href="#section_6").nav__item Начинки
            a(href="#section_8").nav__item Заказать торт по фото
            a(href="#section_10").nav__item Отзывы
            a(href="#section_11").nav__item Контакты