mixin nav()
    nav.nav
        .nav__inner
            a(href="#section_2").nav__item.nav__item_active Дегустация
            a(href="#section_").nav__item Примеры работ
            a(href="#section_").nav__item Начинки
            a(href="#section_").nav__item Заказать торт по фото
            a(href="#section_").nav__item Отзывы
            a(href="#section_").nav__item Контакты